@font-face{
  
}

$openSans_font: 'Open Sans', sans-serif;
$signika_font: 'Signika', sans-serif;
$gentiumBasic_font: 'Gentium Basic', serif;
$josefinSlab_font: 'Josefin Slab', serif;
$actor_font: 'Actor', sans-serif;
$raleway_font: 'Raleway', sans-serif;