.section-title {
	color: $main_background_color;
	font-size: 1.8em;

	@include large-and-above {
		display: inline-block;
		width: auto;
		padding: 5px;
		background-color: $main_background_color;
		font-size: 3em;
		line-height: 0.7em;
		color: $logo_main_color;
		border: {
			top: 5px solid $logo_secondary_color;
			bottom: 5px solid $logo_secondary_color;
		}
	}
}