.link {
	@include transition(all 0.5s ease);

	&:link,
	&:visited {
		color: $logo_secondary_color;
	}

	&:hover {
		color: $logo_main_color;
	}
}

%menu-link {
	display: block;
	padding: 0 5px;
	margin-top: 1em;
	font-size: 2em;
	text-align: center;
}

%menu-link-style1 {
	@extend %menu-link;
	border: 4px solid $logo_secondary_color;
	background-color: transparent;
	color: $logo_secondary_color;
	@include transition(all 0.5s ease);

	&:hover {
		color: $main_background_color;
		background-color: $logo_secondary_color;
	}

	&.current {
		color: $main_background_color;
		background-color: $logo_secondary_color;
	}
}

%menu-link-style2 {
	@extend %menu-link;
	border: 4px solid $main_background_color;
	background-color: transparentize($logo_main_color, 0.2);
	color: $main_background_color;
	@include transition(all 0.5s ease);

	&:hover {
		color: $logo_main_color;
		background-color: $main_background_color;
		border: 4px solid $logo_main_color;
	}

	&.current {
		color: $logo_main_color;
		background-color: $main_background_color;
		border: 4px solid $logo_main_color;
	}
}

%menu-link-style2--transparent {
	@extend %menu-link;
	border: 4px solid $main_background_color;
	background-color: transparent;
	color: $main_background_color;

	&:hover {
		color: $logo_secondary_color;
		background-color: $main_background_color;
	}
	&.current {
		color: $logo_secondary_color;
		background-color: $main_background_color;
	}
}


