@import 'compass';
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'links';

html,
body {
	height: 100%;
}

body {
	background: url(../images/Mobile_bg.jpg) 0 -30px;
	background-size: cover;

	@include medium-and-above {
		background: url(../images/Tablet_bg.jpg) 0 -30px;
		background-size: cover;
	}

	@include large-and-above {
		background: url(../images/Big_bg.jpg) center -100px;
		background-size: cover;
	}
}

#main-wrapper {
	position: relative;
	height: 100%;

	&.contact-wrapper {
		background: url(../images/Contact_mobile_bg.jpg) center fixed;
		background-size: cover;
	}
}

#content-wrapper {
	position: relative;
	height: 100%;
	@include clearfix();

	.contact-wrapper & {
		height: auto;
	}

	@include small-and-below-landscape {
		height: auto;
	}

	// Menu for home page
	.home-menu-wrapper {
		float: right;
		padding-right: 1em;

		@include large-and-above {
			margin-top: 1.5em;
		}

		@include small-and-below-landscape {
			margin-bottom: 1.5em;		
		}
	}

	// Menu for other pages
	.menu-wrapper {
		display: block;
		width: 100%;
		background-color: $main_background_color;
	}

	.mobile-menu-wrapper {
		position: relative;
		@include clearfix();

		@include large-and-above {
			display: none;
		}
	}

	.mobile-menu-logo {
		float: left;
		width: 60px;
		height: auto;
		margin: 5px 0 5px 8px;

		@include medium-and-above {
			width: 90px;
		}
	}

	// Checkbox for menu toggle
	#mobile-menu-toggle {
		display: none;

		&:checked + .mobile-menu-links-wrapper {
			display: block;
		}
	}

	.mobile-menu-toggle {
		@extend .menu-link;
		@extend %menu-link-style2;
		float: right;
		margin: {
			top: 13px;
			right: 13px;
		}
		cursor: pointer;

		@include medium-and-above {
			display: none;
		}
	}

	.mobile-menu-links-wrapper {
		position: absolute;
		top: 62px;
		width: 100%;
		display: none;
		background-color: red;

		@include medium-and-above {
			display: none;
		}

		.menu-link {
			margin: 0;
		}
	}

	.desktop-menu-wrapper {
		display: none;

		@include medium-and-above {
			position: relative;
			top: -60px;
			display: block;
			float: right;
			padding-right: 1em;
		}
	}

	.pre-footer {
		position: absolute;
		width: 100%;
		bottom: 0;
		margin-bottom: 32px; 
		
		@include small-and-below-landscape {
			position: relative;
			margin-bottom: 0;
			clear: both;
		}

		.triangle {
			width: 100%;
			height: auto;
		}

		.logo-wrapper {
			padding-bottom: 10px;
			background: $main_background_color;

			.logo {
				width: 48%;
				height: auto;
				max-width: 150px;
				margin: 0 auto 15px;
			}			
		}
	}
}

.contact-infos-wrapper {
	text-align: center;
	padding-bottom: 30px;
}

.info-wrapper {
	display: inline-block;
	width: 87%;
	max-width: 300px;
	margin-top: 30px;
	padding: 10px;
	background-color: transparentize($logo_secondary_color, 0.2);
	color: $main_background_color;
	@include border-radius(8px);
	text-align: left;

	@include medium-and-above {
		display: block;
		margin: 30px auto 0; 
		max-width: 600px;
		font-size: 1.5em;
	}

	.title {
		display: block;
		margin-bottom: 0.5em;
		font-size: 1.5em;
		font-weight: bold;
	}
}

// Social area
// ======================
.social-wrapper {
	width: 100%;
	padding: 5px 0;
	margin-bottom: 15px;
	text-align: center;
}

.social-icon {
	display: inline-block;
	height: 50px;
	width: 50px;
	margin: 0 5px;
	box-sizing: border-box;
	border: 1px solid $logo_main_color;
	@include border-radius(100%);
	background-color: $main_background_color;
	overflow: hidden;
	transition: 0.5s all;

	&:hover {
		background-color: $logo_secondary_color;
		border: 1px solid $main_background_color;
	}

	@include medium-and-above {
		width: 100px;
		height: 100px;
	}

	.social-logo-img {
		@include border-radius(100%);

		&.overlay {
			position: relative;
			top: -50px;
			opacity: 0;
			transition: 0.5s all;

			&:hover {
				opacity: 1;
			}
		}
	}
}

// Google Map
// ======================
#map-wrapper {
	width: 100%;
	height: 0;
	padding-bottom: 80%;
	border-top: 2px solid $logo_secondary_color;

	@include medium-and-above {
		padding-bottom: 60%;
	}
}

/************************
	Footer
************************/
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: $main_background_color;
	@include clearfix();
	color: $logo_secondary_color;
	border-top: 2px solid $logo_secondary_color;

	.contact-wrapper & {
		position: relative;
		bottom: auto;
	}

	@include small-and-below-landscape {
		position: relative;
		bottom: auto;
	}

	.footer-address {
		float: left;
		padding: 7px;
	}

	.footer-phone {
		float: right;
		padding: 7px;
	}
}