@import 'compass';
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';

/* declarations */

html,
body {
	height: 100%;
}

body {
	background: url(../images/Mobile_bg.jpg) 0 -30px;
	background-size: cover;

	@include medium-and-above {
		background: url(../images/Tablet_bg.jpg) 0 -30px;
		background-size: cover;
	}

	@include large-and-above {
		background: url(../images/Big_bg.jpg) center -100px;
		background-size: cover;
	}
}

#main-wrapper {
	position: relative;
	height: 100%
}

#content-wrapper {
	position: relative;
	height: 100%;
	@include clearfix();

	@include small-and-below-landscape {
		height: auto;
	}

	.menu-wrapper {
		float: right;
		padding-right: 1em;

		@include large-and-above {
			margin-top: 1.5em;
		}

		@include small-and-below-landscape {
			margin-bottom: 1.5em;		
		}

		.menu-link {
			display: block;
			padding: 5px;
			margin-top: 1em;
			border: 2px solid $main_background_color;
			color: $main_background_color;
			font-size: 2em;
			text-align: center;
			background-color: $logo_main_color;

			@include large-and-above {
				display: inline;
				margin-right: 0.8em;
			}

			@include xlarge {
				background-color: transparent;
			}
		}
	}

	.pre-footer {
		position: absolute;
		width: 100%;
		bottom: 0;
		margin-bottom: 32px; 
		
		@include small-and-below-landscape {
			position: relative;
			margin-bottom: 0;
			clear: both;
		}

		.triangle {
			width: 100%;
			height: auto;
		}

		.logo-wrapper {
			padding-bottom: 10px;
			background: $main_background_color;

			.logo {
				width: 48%;
				height: auto;
				max-width: 250px;
				margin: 0 auto 15px;
			}			
		}
	}
}

/************************
	Footer
************************/
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: $main_background_color;
	@include clearfix();
	color: $logo_secondary_color;
	border-top: 2px solid $logo_secondary_color;

	@include small-and-below-landscape {
		position: relative;
		bottom: auto;
	}

	.footer-address {
		float: left;
		padding: 7px;
	}

	.footer-phone {
		float: right;
		padding: 7px;
	}
}