@import 'compass';
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';

/* declarations */

html,
body {
	height: 100%;
}

body {
	background: url(../images/Mobile_bg.jpg) 0 -30px;
	background-size: cover;
}

#main-wrapper {
	position: relative;
	height: 100%
}

#content-wrapper {
	position: relative;
	height: 100%;
	@include clearfix();

	.menu-wrapper {
		float: right;
		padding-right: 1em;

		.menu-link {
			display: block;
			padding: 5px;
			margin-top: 1em;
			border: 2px solid $main_background_color;
			color: $main_background_color;
			font-size: 2em;
			text-align: center;
			background-color: $logo_main_color;
		}
	}

	.logo-wrapper {
		position: absolute;
		width: 100%;
		bottom: 0;
		margin-bottom: 32px; 
		padding: 10px 0;
		background: $main_background_color;
		overflow: hidden;

		.logo {
			margin: 0 auto 15px;
			z-index: 1;
		}

		.logo-caption {
			display: block;
			text-align: center;
			color: $logo_main_color;
		}

		&::before {
			position: absolute;
			top: -10px;
			content: "";
			height: 50px;
			width: 150%;
			background-color: $main_background_color;
			@include rotate(-2deg);
			z-index: -1;
		}
	}
}

/************************
	Footer
************************/
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: $main_background_color;
	@include clearfix();
	color: $logo_secondary_color;
	border-top: 2px solid $logo_secondary_color;

	.footer-address {
		float: left;
		padding: 7px;
	}

	.footer-phone {
		float: right;
		padding: 7px;
	}
}