doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(name="description", content="Template")
		meta(name="robots", content="index, follow")
		link(rel="shortcut icon", href="images/favicon.ico")
		// CSS FILES
		link(href="css/style.css", type="text/css", rel="stylesheet")
	body
		#albumLibraryContainer
			label(for="albumTitle") Nom de l'album
			input(id="albumTitle" type="text") 

			button(id="addAlbum") Créer


		script(id="albumTemplate" type="text/template").
			<a href="albums/<%= title %>" class="enterAlbum">
				<div class="album-preview">
					<img src="<%= albumPreviewImg %>">
				</div>
				<div class="album-title">
					<span><%= title %></span>
				</div>
			</a>
			<a href="#" class="deleteAlbum">Effacer</a>

		script(id="photosTemplate" type="text/template").
			<div id="photos-container"></div>


		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script.
			window.jQuery || document.write('<script src="js/lib/jquery-1.11.1.js"><\/script>')
		script(src="js/lib/modernizr.loadonly.js")
		
		script.
			Modernizr.load([
				{
					test: Modernizr.mq('only all'),
					nope: 'js/lib/respond.js'
				}
			]);

		script(src="http://documentcloud.github.com/underscore/underscore-min.js")
		script(src="http://documentcloud.github.com/backbone/backbone-min.js")
	
		script(src="js/models/album.js")
		script(src="js/collections/albumLibrary.js")
		script(src="js/views/album.js")
		script(src="js/views/albumLibrary.js")
		script(src="js/routers/router.js")
		script(src="js/app.js")